/dts-v1/;
/plugin/;
/ {
	fragment@0 {
		target = <&amba>;
		// #address-cells = <1>;
		// #size-cells = <1>;

		__overlay__ {
			#address-cells = <1>;
			#size-cells = <1>;
			
			i2c@40000000 {
				compatible = "xlnx,xps-iic-2.00.a";
				interrupt-parent = <&intc>;
				interrupt-names = "iic2intc_irpt";
				interrupts = <0 29 4>;
				clock-names = "s_axi_aclk";
				clocks = <&clkc 15>;
				reg = <0x40000000 0x200>;
				#address-cells = <1>;
				#size-cells = <0>;

				pmod0@57 {
					compatible = "renesas,isl29501";
					reg = <0x57>;
				};
				
				pmod1@56 {
					compatible = "renesas,isl29501";
					reg = <0x56>;
				};
			};
			
			axi_gpio: gpio@40004000 {
        			#gpio-cells = <2>;
        			compatible = "xlnx,xps-gpio-1.00.a";
        			gpio-controller ;
        			reg = <0x40004000 0x200>;
			};
			leds {
				compatible = "gpio-leds";
				led0 {
					gpios = <&axi_gpio 0 GPIO_ACTIVE_HIGH>;
					default-state = "off";
				};

				led1 {
					gpios = <&axi_gpio 1 GPIO_ACTIVE_HIGH>;
					default-state = "off";
				};
				led2 {
					gpios = <&axi_gpio 2 GPIO_ACTIVE_HIGH>;
					default-state = "off";
				};

				led3 {
					gpios = <&axi_gpio 3 GPIO_ACTIVE_HIGH>;
					default-state = "off";
				};
			};
			
			pwm_audio: pwm@42000000 {
					compatible = "capstone,pwm_driver";
					reg = <0x40008000 0x1000>, <0x42000000 0x1000>;
			};
			
		};
	};
};
